
# Variaves de ambiente usados pela aplicação
    JWT_SECRET_KEY=segredo

# usando sqlite no desenvolvimento
    SQLALCHEMY_DATABASE_URI=sqlite:///data.db

# usando postgresql no localhost
#SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://<login>:<password>@localhost/<db>?client_encoding=utf8

# usando postgresql com okteto em produção (pegar os dados ao implantar o postgres no okteto)
#SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://okteto:okteto@postgresql.otvmonteiro.svc.cluster.local/pcs3443?client_encoding=utf8
